.box {
  position: relative;
  margin-bottom: 20px;
  border-top: 3px solid var(--red);
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.header {
  padding: 10px;
  border-bottom: 1px solid var(--border-light);
}

.title {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
}

.body {
  padding: 10px;
}
